<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Человек</title>
</head>
<body>
<p th:text="${person.getPersonName() + ', ' + person.getPersonYearOfBirth()}">name</p>

<hr/>

<!--<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Редактировать</a>-->

<form th:method="GET" th:action="@{/people/{personId}/edit(personId=${person.getPersonId()})}">
  <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/people/{personId}(personId=${person.getPersonId()})}">
  <input type="submit" value="Удалить"/>
</form>

</body>
</html>